//- @pugdoc
  name: Sitesearch
  example: |
    +sitesearch

mixin sitesearch
  .sitesearch(class='js-sitesearch', hidden, id='sitesearch', role='dialog', aria-modal=true, aria-label='Zoeken')
    | site search
