//- @pugdoc
  name: Topbar
  example: |
    +topbar

mixin topbar
  include ../../icons/_icon

  nav.topbar(class='js-topbar')
    .topbar-wrapper
      .topbar-body-wrapper
        a.topbar__logo(href="/", title="Homepage")
          | <svg height="34" viewBox="0 0 82 34" width="82" xmlns="http://www.w3.org/2000/svg"><title>Logo HAN</title><g fill="#fff"><path d="m82 34h-19v-3h18.9895719z"/><path d="m13.2527473 28v-12.420318h-8.48351653v12.420318h-4.76923077v-28h4.75824176v11.3563397h8.48351644v-11.3563397h4.7582418v28z"/><path d="m55.5599506 28-8.1433869-19.77045366h-.1223733l.0778739 19.77045366h-4.3720643v-28h5.5624227l8.065513 19.8898798h.1557479v-19.8898798h4.2163164v28z"/><path d="m33.1342079 0h-5.7320888l-4.5665994 18.7860465-3.8355197 1.324031 1.1972755 3.6682171 1.5469223-.531783-1.1548941 4.7534884h4.2381433l1.536327-6.3271318 7.2790111-2.496124 2.1190716 8.8232558h4.2381433zm-5.7320888 17.2015504 2.723007-11.17829459h.2754793l2.2780021 9.36589149z"/></g></svg>

        ul.topbar__links
          each item in [{ href: '/', label: 'Opleidingen' }, { href: '/', label: 'Studiekeuze' }]
            li.topbar__links__item
              a.topbar__links__item__link(href=item.href) #{item.label}
        
        button.topbar__search(type="button", aria-label='Zoekfunctie openen', aria-expanded='false', aria-controls='sitesearch', class='js-modal-open')
          +icon#search
        button.topbar__hamburger(type="button" aria-label='Hoofdnavigatie openen', aria-expanded='false', aria-controls='menu', class='js-modal-open')
          +icon#hamburger