.demo-typo {
  @include grid;
  display: block;
}

.demo-typo__bigtitle {
  @include big__title;
  @include margin-bottom-small;

  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

.demo-typo__eyebrow {
  @include eyebrow;
  @include margin-bottom-standard;
}

h2.demo-typo__title {
  @include h2;
  @include margin-bottom-small;
  
  @include breakpoint($bp-m) {
    &:after {
      color: $hanred;
      content: '_';
    }
  }
}

.demo-typo__intro {
  @include lead;
  @include margin-bottom-standard;
}

.demo-typo__content{
  @include base;
  @include margin-bottom-large;
}

.demo-typo__cards{
  @include grid;
}

.demo-typo__cards__card {
  @include breakpoint($bp-s) {
    @include grid-item(12);
  }

  @include breakpoint($bp-m) {
      @include grid-item(6);
  }
  
}

.demo-typo__cards__card__title{
  @include title3;
  @include margin-bottom-small;
}

.demo-typo__cards__card__content{
  @include base;
  @include margin-bottom-large;
}
