// // _text.scss
// // Put all text-related styling in here 

// body {
// 	color: $primary-color;
// 	font-family: $font-stack;
// 	font-size: $font-size-base;
// }

// h1,
// h2,
// h3 {
// 	font-family: $font-heading;
// 	font-weight: $font-weight-bold;
// 	margin-bottom: .5em;
// 	text-transform: uppercase;

// 	&.title {
// 		text-transform: none;
// 	}

// 	&::after {
// 		color: $hanred;
// 		content: '_';
// 	}
// }

// h4,
// h5 {
// 	font-family: $font-heading;
// 	font-weight: $font-weight-bold;
// 	margin-bottom: .5em;
// 	text-transform: uppercase;

// 	&.title {
// 		text-transform: none;
// 	}
// }

// /* font size */
// h1 {
// 	font-size: $font-size-h1;
// 	line-height: $line-height-h1;
// }

// h2 {
// 	font-size: $font-size-h2;
// 	line-height: $line-height-h2;	
// }

// h3 {
// 	font-size: $font-size-h3;
// 	line-height: $line-height-h3;
// }

// h4 {
// 	font-size: $font-size-h4;
// 	line-height: $line-height-h4;
// }

// h5 {
// 	font-size: $font-size-h5;
// 	line-height: $line-height-h5;
// }

// p {
// 	font-size: $font-size-base;
// 	line-height: $line-height-base;
// 	margin-bottom: 2em;
//     }

// .lead {
// 	font-size: $font-size-lead;
// 	font-weight: $font-weight-bold;
// 	line-height: $line-height-lead;
// 	margin-bottom: 1em;
// }

// .base {
// 	font-size: $font-size-base;
// 	line-height: $line-height-base;  
// 	margin-bottom: 1em;	
// }

// /* einde font-size */

// /* font weight */
// /* h2 heeft medium weight */

// .bold {
// 	font-weight: $font-weight-bold;
// }

// // einde font-weight 




// a {
// 	display: inline-block;
// 	//border-bottom: 4px solid rgba( $primary-color, .24 );
// 	text-decoration: underline;
// 	color: $link-color;
	
// 	&:hover {
// 		text-decoration: none;
// 	}
// 	&[role="button"] {
// 		border-bottom: none!important;
// 	}
// }
// .section--blue a {
// 	border-bottom: 4px solid rgba(63, 162, 247, 0.4);
// 	line-height: $line-height-a;
// 	height: $line-height-a;
// }
// .section--white a {
// 	border-bottom: 4px solid $link-border-color;
// }

// ul li, ol li {
// 	line-height: $line-height-base;
// 	/*margin: 0.5em;*/
// }

// ul {
// 	list-style: none;
// 	margin-left: -16px;
// }

// ul li {padding-right: 1em;}

// ul li:before {
// 	content: "";
// 	line-height: 1em;
// 	width: .3em;
// 	height: .3em;
// 	background-color: $hanred;
// 	float: left;
// 	margin: .6em .25em .25em 0em;
// 	border-radius: 50%;
// }

// .aanmeldinformatie li {
// 	display: inline-block;
// 	width: 100%;
// 	height: 39px;

	
// 	@media (min-width: 992px) { 
// 		display: inline-block;
// 		width: 33%;
// 	}
	
// }

// @media screen and (min-width: 992px) {
// 		h1 {
// 			font-size: $font-size-lg-h1;
// 			line-height: $line-height-lg-h1;
// 		}

// 		h2 {
// 			font-size: $font-size-lg-h2;
// 			line-height: $line-height-lg-h2;
// 		}
// 		h3 {
// 			font-size: $font-size-lg-h3;
// 			line-height: $line-height-lg-h3;
// 		}
// 		h4 {
// 			font-size: $font-size-lg-h4;
// 			line-height: $line-height-lg-h4;
// 		}
// 		h5 {
// 			font-size: $font-size-lg-h5;
// 			line-height: $line-height-lg-h5;
// 		}
// 		 p {
// 			font-size: $font-size-lg-paragraph;
// 			line-height: $line-height-lg-paragraph;
// 		}
		
// 		.lead {
// 			font-size: $font-size-lg-lead;
// 			line-height: $line-height-lg-lead;
			
// 		}
		
// 		ul li, ol li {
// 			font-size: $font-size-lg-paragraph;
// 			line-height: $line-height-base;
// 			margin: 0.5em;
// 		}
		
// 	}