/**
 * Richtext WYSIWYG elements styling
 */

// .richtext {
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6 {
//     color: red;
//   }
// }

.richtext {
  @include page-spacing();

  h1 {
    @include h1();
    text-transform: uppercase;
  }

  h2 {
    @include h2();
    text-transform: uppercase;
  }

  h3 {
    @include h3();
    text-transform: uppercase;
  }

  h4 {
    @include h4();
    text-transform: uppercase;
  }

  h5 {
    @include h5();
    text-transform: uppercase;
  }

  .eyebrow {
      @include eyebrow();
  }

  p {
    @include p();
  }

  h1.title {
    @include h1();
  }
  
  h2.title {
    @include h2();
  }

  h3.title {
    @include h3();
  }

  h4.title {
    @include h4();
  }

  h5.title {
    @include h5();
  }
}