/**
 * Richtext WYSIWYG elements styling
 */

@mixin richtext {
  @include base;

  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3;
  }

  h4 {
    @include h4;
  }

  h5 {
    @include h5;
  }

  p {
    @include p;
  }

  a {
    @include link;
  }

  strong {
    font-family: $bold;
  }

  i {
    font-family: $medium-italic;
  }

  ol {
    margin-left: 16px;
  }

  ul,
  ol {
    margin-top: 13px;

    li {
      margin-bottom: 11px;
      text-align: left;
    }

    @include breakpoint($bp-m) {
      font-size: 17px;
    }

    @include breakpoint($bp-l) {
      font-size: 18px;
    }
  }

  ul li {
    position: relative;
    padding-left: 16px;

    &::before {
      content: '';
      background-color: $hanred;
      position: absolute;
      left: 0;
      top: 12px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
    }
  }

  table {
    width: 100%;
    border-bottom: solid 1px $grey2;

    th {
      font-weight: bold;
      vertical-align: top;
    }

    th,
    td {
      padding: 17px 4px;
      border-top: solid 1px $grey2;
      text-align: left;

      /**
      * Only large devices have a higher amount of padding 
      */

      @include breakpoint($bp-l) {
        padding: 20px 8px;
      }
    }
  }
}