@mixin bigtitle {
  font-family: $bold-condensed;
  font-size: 28px;
  color: $white;
  text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  @include breakpoint($bp-m) {
    font-size: 45px;
  }

  @include breakpoint($bp-l) {
    font-size: 61px;
  }
}

@mixin h1 {
  margin-bottom: 1em;
  font-family: $bold-condensed;
  font-size: 28px;
  text-transform: uppercase;

  @include breakpoint($bp-m) {
    font-size: 38px;
  }

  @include breakpoint($bp-l) {
    font-size: 48px;
  }
}

@mixin h2 {
  font-family: $bold-condensed;
  font-size: 24px;
  text-transform: uppercase;

  @include breakpoint($bp-m) {
    font-size: 29px;
  }

  @include breakpoint($bp-xl) {
    font-size: 34px;
  }
}

@mixin h3 {
  font-family: $bold-condensed;
  font-size: 20px;
  text-transform: uppercase;

  @include breakpoint($bp-m) {
    font-size: 22px;
  }

  @include breakpoint($bp-l) {
    font-size: 24px;
  }
}

@mixin h4 {
  font-family: $bold-condensed;
  font-size: 18px;
  text-transform: uppercase;

  @include breakpoint($bp-m) {
    font-size: 20px;
  }

  @include breakpoint($bp-l) {
    font-size: 21px;
  }
}

@mixin h5 {
  font-family: $bold-condensed;
  font-size: 15px;
  text-transform: uppercase;

  @include breakpoint($bp-m) {
    font-size: 18px;
  }

  @include breakpoint($bp-l) {
    font-size: 19px;
  }
}

@mixin title1 {
  @include h1;
  text-transform: none;
}

@mixin title2 {
  @include h2;
  text-transform: none;
}

@mixin title3 {
  @include h3;
  text-transform: none;
}

@mixin title4 {
  @include h4;
  text-transform: none;
}

@mixin title5 {
  @include h5;
  text-transform: none;
}

@mixin eyebrow {
  font-family: $bold-condensed;
  font-size: 15px;
  color: $hanred;
  text-transform: uppercase;

  @include breakpoint($bp-m) {
    font-size: 17px;
  }

  @include breakpoint($bp-l) {
    font-size: 18px;
  }
}

@mixin lead {
  font-family: $demi;
  font-size: 16px;
  line-height: 1.6;

  @include breakpoint($bp-m) {
    font-size: 20px;
  }

  @include breakpoint($bp-l) {
    font-size: 22px;
  }
}

// Also used for ul/ol
@mixin p {
  margin-bottom: 1em;
  font-family: $medium;
  font-size: 16px;
  line-height: 1.6;

  @include breakpoint($bp-m) {
    font-size: 18px;
    line-height: 1.7;
  }
}

@mixin base {
  font-family: $medium;
  font-size: 16px;
  line-height: 1.7;
}

@mixin small {
  font-family: $medium;
  font-size: 14px;
  line-height: 1.6;

  @include breakpoint($bp-m) {
    font-size: 15px;
  }

  @include breakpoint($bp-l) {
    font-size: 16px;
  }
}

/** 
* Underscore can be used in titles
*/

@mixin underscore {
  &::after {
    color: $hanred;
    content: "_";
  }
}

/**
* Normal links
*/

@mixin link {
  color: $hanred;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
