extends ../_base

include ../../components/content/textmedia

block append vars
  - pageTitle.push('Voltijd homepage')

block main
  | voltijd homepages

  - var options = {};
  - options.image = 'koraal.jpg';
  - options.eyebrow = 'vaardigheden';
  - options.title = 'Hoe en wat ga je allemaal leren?';
  - options.buttons = [];
  - options.buttons.push({ href: '/', label: 'Meld je aan', type: 'primary' });
  - options.buttons.push({ href: '/', label: 'Meld je aan 2', type: 'secondary' });
  
  +section-textmedia(ALIGNMENT_LEFT, options)
    p dit is richtext
    ul
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
  
  
  - var options = {};
  - options.image = 'vrouw-techniek.jpg';
  - options.eyebrow = 'techniek';
  - options.title = 'Hoe en wat ga je allemaal leren?';
  - options.buttons = [];
  - options.buttons.push({ href: '/', label: 'Meld je aan', type: 'primary' });
  
  +section-textmedia(ALIGNMENT_RIGHT, options)
    p dit is richtext
    ul
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
  
  - var options = {};
  - options.video = {};
  - options.video.fallback = 'koraal.jpg';
  - options.video.link = '#video1';
  - options.video.source = 'http://techslides.com/demos/sample-videos/small.mp4';
  - options.eyebrow = 'techniek';
  - options.title = 'Hoe en wat ga je allemaal leren?';
  - options.buttons = [];
  - options.buttons.push({ href: '/', label: 'Meld je aan', type: 'primary' });
  
  +section-textmedia(ALIGNMENT_RIGHT, options)
    p dit is richtext
    ul
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
  
  - var options = {};
  - options.video = {};
  - options.video.fallback = 'koraal.jpg';
  - options.video.source = 'http://techslides.com/demos/sample-videos/small.mp4';
  - options.eyebrow = 'techniek';
  - options.title = 'Hoe en wat ga je allemaal leren?';
  - options.buttons = [];
  - options.buttons.push({ href: '/', label: 'Meld je aan', type: 'primary' });
  
  +section-textmedia(ALIGNMENT_LEFT, options)
    p dit is richtext
    ul
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl
      li dsfljsdhflsjhdfl