extends ../_base

include ../../components/content/textmedia

block append vars
  - pageTitle.push('Voltijd homepage')

block main
  | voltijd homepage
  - var options = {};
    - options.image = 'koraal.jpg';
    - options.eyebrow = 'vaardigheden';
    - options.title = 'Hoe en wat ga je allemaal leren?';
    - options.buttons = [];
    - options.buttons.push({ href: '/', label: 'Meld je aan', type: 'primary' });
    - options.buttons.push({ href: '/', label: 'Meld je aan 2', type: 'secondary' });
    
    +section-textmedia(ALIGNMENT_LEFT, options)
      p We vertellen je niet hoe het moet, maar helpen je om zelf tot de beste oplossing te komen. Afhankelijk van je specialisatie leer je:
      ul
        li Hoe regeltechniek en elektrotechnisch ontwerpen werkt.
        li Alles over aandrijvingen en vermogenselektronica.

  - var options = {};
    - options.image = 'koraal.jpg';
    - options.eyebrow = 'vaardigheden';
    - options.title = 'Hoe en wat ga je allemaal leren?';
    - options.buttons = [];
    - options.buttons.push({ href: '/', label: 'Meld je aan', type: 'primary' });
    - options.buttons.push({ href: '/', label: 'Meld je aan 2', type: 'secondary' });
    
    +section-textmedia(ALIGNMENT_RIGHT, options)
      p We vertellen je niet hoe het moet, maar helpen je om zelf tot de beste oplossing te komen. Afhankelijk van je specialisatie leer je:
      ul
        li Hoe regeltechniek en elektrotechnisch ontwerpen werkt.
        li Alles over aandrijvingen en vermogenselektronica.

  - var options = {};
      - options.video = {};
      - options.video.fallback = 'koraal.jpg';
      - options.video.source = 'https://www.w3schools.com/html/mov_bbb.mp4';
      - options.eyebrow = 'techniek';
      - options.title = 'Hoe en wat ga je allemaal leren?';
      - options.buttons = [];
      - options.buttons.push({ href: '/', label: 'Meld je aan', type: 'primary' });
      
      +section-textmedia(ALIGNMENT_LEFT, options)
        p dit is richtext
        ul
          li dsfljsdhflsjhdfl
          li dsfljsdhflsjhdfl
          li dsfljsdhflsjhdfl