@font-face {
	font-family: 'AvenirNextLTW01-Medium';
		src: url(' /static/fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix');
		src: url('/static/fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix') format('eot'), url('/static/fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2') format('woff2'), url('/static/fonts/f26faddb-86cc-4477-a253-1e1287684336.woff') format('woff'), url('/static/fonts/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf') format('truetype'), url('/static/fonts/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80') format('svg');
    }

@font-face {
	font-family: 'Avenir Next LT W01 Bold';
		src: url('/static/fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix');
		src: url('/static/fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix') format('eot'), url('/static/fonts/14c73713-e4df-4dba-933b-057feeac8dd1.woff2') format('woff2'), url('/static/fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff') format('woff'), url('/static/fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf') format('truetype'),url('/static/fonts/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857') format('svg');
    }
	
@font-face {
	font-family: 'AvenirNextLTW01-BoldCn';
		src: url('/static/fonts/07690b8a-c348-4c53-8de3-59f7cfef9ee8.eot?#iefix');
		src: url('/static/fonts/07690b8a-c348-4c53-8de3-59f7cfef9ee8.eot?#iefix') format('eot'),url('/static/fonts/9f6106aa-36e0-4cfb-8cda-c3354eab2461.woff2') format('woff2'), url('/static/fonts/ff039068-be8b-415c-b1a9-24eedee1c3ab.woff') format('woff'), url('/static/fonts/cdd2cecb-bd0e-41e5-9ecd-ef60f52a35be.ttf') format('truetype'), url('/static/fonts/390c08bc-8d21-4af3-95a1-a73c21f189cd.svg#390c08bc-8d21-4af3-95a1-a73c21f189cd') format('svg');
	}
	
