//Folders

$fonts-url: '/* @echo FONTS_URL */';
$images-url: '/* @echo IMAGES_URL */';

//Colors

$white: fff;
$black: 000;
$color: #454545;
$hanred: #e50056;
 
//Fonts

$font-stack:				'AvenirNextLTW01-Medium';
$font-heading:				'AvenirNextLTW01-BoldCn';

$primary-color:         	#454545;
$primary-color-light:   	#d3e8fc;
$primary-color-lighter: 	#f3f9ff;
$secondary-color:       	#fff;
$link-color:				#e50056;
$link-border-color:			#c6ddf0;
$bg-light-blue:         	#e9f4fe;
$bg-blue:               	#e4f1fd;

$font-size-lead:			18px;
$font-size-base:    		16px;

$font-size-lg-lead:			24px;
$font-size-lg-base:  		16px;
$font-size-lg-paragraph:	18px;

$font-size-h1:				28px;
$font-size-h2:				24px;
$font-size-h3:				20px;
$font-size-h4:				18px;
$font-size-h5:				14px;

$font-size-lg-h1:			48px;
$font-size-lg-h2:			34px;
$font-size-lg-h3:			24px;
$font-size-lg-h4:			21px;
$font-size-lg-h5:			19px;

$font-weight-light:			300;
$font-weight-regular:		400;
$font-weight-bold:			600;

$font-alt-color:       		#fff;
$icon-size:             	20px;

$line-height-lead:			29px;

$line-height-base:			27px;

$line-height-h1:			31px;
$line-height-h2:			29px;
$line-height-h3:			22px;
$line-height-h4:			22px;
$line-height-h5:			22px;
$line-height-a:				29px;
$line-height-lg-h1:			53px;
$line-height-lg-h2:			41px;
$line-height-lg-h3:			29px;
$line-height-lg-h4:			23px;
$line-height-lg-h5:			23px;
$line-height-lg-lead:		36px;
$line-height-lg-paragraph:	31px;

// Breakpoints

$bp-xs: 375px;
$bp-s: 500px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1160px;
$bp-xxl: 1440px;

$container-width: $bp-xl;
