@import "./vars";
@import "./libs/fonts";
@import "./libs/breakpoint";
@import "./libs/margins";
@import "./typography/text";

.header {
  background-color: $hanred;
}

.component {
  &.is-loading {
    &::before {
      border-top-color: $grey5;
      border-left-color: $grey5;
    }
  }
}

.component__meta {
  &::before {
    background-color: $grey5;
  }
}

.sidebar__nav__item__link {
  background-color: $grey5;
}

.content h1 {
  @include h1;
  color: $grey5;
  text-transform: uppercase;
  font-weight: normal;
}

.content h2 {
  @include h2;
}

.content h3 {
  @include h3;
}
