@include breakpoint(max $bp-l) {
  @keyframes animate-coursenav-in-mobile {
    to {
      height: calc(100% - 48px);
    }
  }

  @keyframes animate-coursenav-out-mobile {
    to {
      height: 56px;
    }
  }

  @keyframes animate-coursenav-in-tablet {
    to {
      height: calc(50% - 87px);
    }
  }

  @keyframes animate-coursenav-out-tablet {
    to {
      height: 80px;
    }
  }

  .coursenav {
    background-color: $black;
    position: relative;
    z-index: 98;
    height: 56px;
    display: flex;
    flex-direction: column;

    @include breakpoint($bp-m) {
      height: 80px;
    }

    &.is-open {
      animation: animate-coursenav-in-mobile 0.4s $ease forwards;

      @include breakpoint($bp-m) {
        animation: animate-coursenav-in-tablet 0.4s $ease forwards;
      }
    }

    &.is-closed {
      height: calc(100% - 48px);
      animation: animate-coursenav-out-mobile 0.4s $ease forwards;

      @include breakpoint($bp-m) {
        height: calc(50% - 87px);
        animation: animate-coursenav-out-tablet 0.4s $ease forwards;
      }
    }
  }

  .coursenav-wrapper {
    @include pretty-scrollbar($hanred);
    overflow-y: auto;
  }

  .coursenav-body-wrapper {
  }

  /**
  * Title
  */

  .coursenav__title {
    display: none;
  }

  /**
  * Links
  */

  .coursenav__links {
  }

  .coursenav__links__item {
    position: relative;
    border-bottom: 1px solid $grey4;
    display: block;
    padding: 30px 0;
  }

  .coursenav__links__item__link {
    color: $white;

    .is-active & {
      border-bottom-color: $hanred;
      background-color: $white;
      font-family: $demi;
    }
  }

  /**
  * Dropdown
  */

  .coursenav__links__item__subnav {
  }

  .coursenav-dropdown {
  }

  .coursenav-dropdown__item {
  }

  .coursenav-dropdown__item__link {
    color: $white;
  }

  /**
   * Mobile toggle
   */

  .coursenav__toggle {
    @include focusable($hanred, 1px, -1px);
    padding: 16px 0;
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    margin-top: auto;
    border-top: 1px solid $grey5;
    position: relative;

    @include breakpoint($bp-m) {
      height: 80px;
    }

    .icon-chevron {
      fill: $white;
      height: auto;
      width: 12px;
      transform: translateY(-50%) rotate(90deg);
      position: absolute;
      right: 10px;
      top: 50%;
    }
  }

  .coursenav__toggle__label {
    @include coursenav-title;
    color: $white;
  }
}
