/**
 * use data instead of breakpoint to avoid nested media queries
 * which causes issues in IE11
 * 
 * the use of the data-breakpoint things breaks usage of
 * the `.selector &`-rule, so you'll have to work around that
 */

// sass-lint:disable force-pseudo-nesting
html:not([data-breakpoint="desktop"]) {
  @keyframes animate-coursenav-in-mobile {
    to {
      height: 100%;
    }
  }

  @keyframes animate-coursenav-out-mobile {
    to {
      height: 56px;
    }
  }

  @keyframes animate-coursenav-in-tablet {
    to {
      height: 100%;
    }
  }

  @keyframes animate-coursenav-out-tablet {
    to {
      height: 80px;
    }
  }

  .coursenav {
    background-color: $black;
    position: relative;
    z-index: 98;
    height: 56px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;

    @include breakpoint($bp-m) {
      height: 80px;
      background-color: transparent;
    }

    &.is-open {
      animation: animate-coursenav-in-mobile 0.4s $ease forwards;

      @include breakpoint($bp-m) {
        max-height: calc(100% - 80px);
        animation: animate-coursenav-in-tablet 1s $ease forwards;
      }
    }

    &.is-closed {
      height: 100%;
      animation: animate-coursenav-out-mobile 0.4s $ease forwards;

      @include breakpoint($bp-m) {
        animation: animate-coursenav-out-tablet 0.4s $ease forwards;
      }
    }
  }

  .coursenav-wrapper {
    @include pretty-scrollbar($hanred);
    overflow-y: auto;

    @include breakpoint($bp-m) {
      border-top: 1px solid $grey4;
      background-color: $black;
    }
  }

  .coursenav-body-wrapper {
    height: 100%;
  }

  /**
  * Title
  */

  .coursenav__title {
    display: none;
  }

  /**
  * Links
  */

  .coursenav__links {
    text-align: right;

    @include breakpoint($bp-m) {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  .coursenav__links__item {
    position: relative;
    border-bottom: 1px solid rgba($white, 0.15);
    padding: 30px;
    display: block;

    &.is-active {
      background-color: rgba($white, 0.09);

      .coursenav__links__item__link {
        font-family: $demi;

        .icon-arrow {
          display: none;
        }

        // red border below active link
        &::after {
          position: absolute;
          border: 2px solid $hanred;
          content: "";
          right: 0;
          left: 0;
          display: block;
          bottom: 0;
        }
      }

      .coursenav__links__item__subnav {
        &::before {
          @include breakpoint(max $bp-m) {
            display: none;
          }
        }
      }
    }

    @include breakpoint($bp-m) {
      flex-basis: 250px;
      flex-shrink: 0;
      border-bottom: 0;
      border-right: 1px solid rgba($white, 0.15);
    }
  }

  .coursenav__links__item__link {
    @include focusable($hanred, 1px, -1px);
    color: $white;
    font-size: 18px;
    font-family: $demi;
    text-decoration: none;
    padding: 10px 0;
    position: relative;

    &:focus {
      @include focus-outline($hanred);
    }

    .icon-arrow {
      fill: $hanred;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: 8px;
      vertical-align: middle;
    }
  }

  /**
  * Dropdown
  */

  .coursenav__links__item__subnav {
    margin-top: 15px;
    padding-top: 15px;
    position: relative;

    // 20px small divider between arrow and list
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 20px;
      background-color: $grey5;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .coursenav-dropdown {
  }

  .coursenav-dropdown__item {
  }

  .coursenav-dropdown__item__link {
    @include focusable($hanred, 1px, -1px);
    color: $white;
    font-size: 14px;
    font-family: $medium;
    padding: 10px 0;
    display: block;

    &:focus {
      @include focus-outline($hanred);
    }
  }
}

/**
 * Mobile toggle
 */

.coursenav__toggle {
  @include focusable($hanred, 1px, -1px);
  background-color: $black;
  width: 100%;
  height: 56px;
  flex-shrink: 0;
  margin-top: auto;
  border-top: 1px solid $grey5;
  position: relative;
  padding-left: #{$grid-item-spacing-s * 2};
  padding-right: #{$grid-item-spacing-s * 2 + 50px};

  @include breakpoint($bp-m) {
    height: 80px;
    padding-left: #{$grid-item-spacing-m * 2};
    padding-right: #{$grid-item-spacing-m * 2 + 50px};
    margin-top: 0;
  }

  .icon-chevron {
    fill: $white;
    height: auto;
    width: 10px;
    transform: translateY(-50%) rotate(90deg);
    transition: transform 0.15s $ease;
    transform-origin: 50% 50%;
    position: absolute;
    right: 20px;
    top: 50%;

    .is-open & {
      transform: translateY(-50%) rotate(-90deg);
    }

    .is-closed & {
      transform: translateY(-50%) rotate(90deg);
    }
  }

  &::after {
    width: 50px;
    height: 50px;
    content: "";
    display: block;
    border-bottom: 5px solid $hanred;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.coursenav__toggle__label {
  @include coursenav-title;
  color: $white;
}
