@include breakpoint(max $bp-l) {
  .coursenav {
    background-color: $black;
    position: relative;
    z-index: 98;
    height: calc(100% - 87px);
    display: flex;
    flex-direction: column;
    transform: translateY(-100%) translateY(56px);
    transition: transform 0.5s $ease;

    .has-coursenav-mobile-open & {
      transform: translateY(0);
    }
  }

  .coursenav-wrapper {
    @include pretty-scrollbar($hanred);
    overflow-y: auto;
  }

  .coursenav-body-wrapper {
  }

  /**
  * Title
  */

  .coursenav__title {
    display: none;
  }

  /**
  * Links
  */

  .coursenav__links {
  }

  .coursenav__links__item {
    position: relative;
    border-bottom: 1px solid $grey4;
    display: block;
    padding: 30px 0;
  }

  .coursenav__links__item__link {
    color: $white;

    .is-active & {
      border-bottom-color: $hanred;
      background-color: $white;
      font-family: $demi;
    }
  }

  /**
  * Dropdown
  */

  .coursenav__links__item__subnav {
  }

  .coursenav-dropdown {
  }

  .coursenav-dropdown__item {
  }

  .coursenav-dropdown__item__link {
    color: $white;
  }

  /**
   * Mobile toggle
   */

  .coursenav__toggle {
    @include focusable($hanred);
    padding: 16px 0;
    width: 100%;
    height: 56px;
    margin-top: auto;
    border-top: 1px solid $grey5;
    position: relative;

    .icon-chevron {
      fill: $white;
      height: auto;
      width: 12px;
      transform: translateY(-50%) rotate(90deg);
      position: absolute;
      right: 10px;
      top: 50%;
    }
  }

  .coursenav__toggle__label {
    @include coursenav-title;
    color: $white;
  }
}
