/**
 * Skiplinks
 */

.skiplinks {
  a {
    @include focusable($white, 1px, -1px);
    @include accessibility;

    &:focus {
      height: auto;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 2000;
      opacity: 1;
      display: inline-block;
      padding: 1em;
      font-size: 1em;
      background: $hanred;
      color: $white;
    }
  }
}
