extends ./_base

block append vars
  - pageTitle.push('Homepage')

block main
  | homepage yay
  +button-primary('Een eerste opzet voor een primary button')
  +button-secondary('Een eerste opzet voor een secondary button')
  +button-transparent('Een eerste opzet voor een transparent button')
  +component3('hallo allemaal, wat fijn dat je er bent.', true)
  +component2('Dit is de titel','Dit is de lead tekst.','Wat doe je tijdens de propedeuse? Wat is een <a href="#">differentiatie</a>? Hoe zit het met stages, minoren en afstuderen? Ontdek het op de tijdlijn van de opleiding Elektrotechniek.')
  +component2('Dit is de titel','Dit is de lead tekst.','Wat doe je tijdens de propedeuse? Wat is een <a href="#">differentiatie</a>? Hoe zit het met stages, minoren en afstuderen? Ontdek het op de tijdlijn van de opleiding Elektrotechniek.')
  br
  - var items = [];
  - items.push({ title: 'ggg', body: 'fff' })
  - items.push({ title: 'ggg', body: 'fff' })
  - items.push({ title: 'ggg', body: 'fff' })
  +factsheet('Factsheet', items)