extends ./_base

block append vars
  - pageTitle.push('Typography HAN.nl')

block main
 div(style='width:80%;margin:0 auto;')
  h1 H1 Tijdens de opleiding
  p.lead Wat doe je tijdens de propedeuse? Wat is een differentiatie? Hoe zit het met stages, minoren en afstuderen? Ontdek het op de tijdlijn van de opleiding Elektrotechniek.
  p In je eerste jaar maak je kennis met alle onderdelen van Elektrotechniek: hardware en software programmeren, microcontrollers, elektromechanica.
  p.
  |Je hebt een 
  a diploma havo
  |, vwo en mbo (niveau 4), met kennis van 
  b natuurkunde en wiskunde
  | op 
  i havo-niveau
  |.
  h2 H2 Tijdens de opleiding
  p In je eerste jaar maak je kennis met alle onderdelen van Elektrotechniek: hardware en software programmeren, microcontrollers, elektromechanica.
  h3 H3 Tijdens de opleiding
  p In je eerste jaar maak je kennis met alle onderdelen van Elektrotechniek: hardware en software programmeren, microcontrollers, elektromechanica.
  h4 H4 Tijdens de opleiding
  p In je eerste jaar maak je kennis met alle onderdelen van Elektrotechniek: hardware en software programmeren, microcontrollers, elektromechanica.
  h5 H5 Tijdens de opleiding
  p In je eerste jaar maak je kennis met alle onderdelen van Elektrotechniek: hardware en software programmeren, microcontrollers, elektromechanica.
   ul
    li Bedrijven
    li Gemeenten
    li Ingenieursbureaus
    li Aannemers
   ol
    li Bedrijven
    li Gemeenten
    li Ingenieursbureaus
    li Aannemers
 div(style='width:80%;margin:0 auto;')
  h1.title Maak samen hard- en software voor echte projecten
  h2.title Maak samen hard- en software voor echte projecten
  h3.title Maak samen hard- en software voor echte projecten
  h4.title Maak samen hard- en software voor echte projecten
  h5.title Maak samen hard- en software voor echte projecten