//- @pugdoc
  name: Sectie (Richtext)
  description: Sectie met eyebrow, kop en richtext content
  examples:
    - 
      name: Sectie (Richtext, eenvoudig)
      example: |
        +section-richtext('','')
          p De deeltijdstudenten die zich toeleggen op sustainable energy gaan samen met onze onderzoekers problemen in duurzame energievoorziening te lijf. Dit doen we met en in bedrijven waar we nauw mee samenwerken, vooral uit onze regio. Deze regio heeft de potentie om uit te blinken in de ontwikkeling van duurzame energievoorziening. Onze masterstudenten doen mee in de voorhoede.
    - 
      name: Sectie (Richtext, intro)
      example: |
        +section-richtext('Beroepen','Wat kun je worden met Elektrotechniek?','De deeltijdstudenten die zich toeleggen op sustainable energy gaan samen met onze onderzoekers problemen in duurzame energievoorziening te lijf. Dit doen we met en in bedrijven waar we nauw mee samenwerken, vooral uit onze regio. Deze regio heeft de potentie om uit te blinken in de ontwikkeling van duurzame energievoorziening. Onze masterstudenten doen mee in de voorhoede.')
          p Door de afgewogen combinatie van theoretische kennis en praktische vaardigheden ben je op een breed terrein deskundig. De vraag naar elektrotechnici is groot. Het diploma wordt hoog gewaardeerd, zowel in het bedrijfsleven als bij de overheid. Bedrijven waar elektrotechnici aan het werk gaan zijn NXP, TenneT, Essent, GTI, middelgrote bedrijven zoals Alewijnse, Medtronics, KEMA en kleine bedrijven zoals Profline, Mechatronics.
    - 
      name: Sectie (Richtext, tekst)
      example: |
        +section-richtext('Beroepen','Wat kun je worden met Elektrotechniek?')
          p Door de afgewogen combinatie van theoretische kennis en praktische vaardigheden ben je op een breed terrein deskundig. De vraag naar elektrotechnici is groot. Het diploma wordt hoog gewaardeerd, zowel in het bedrijfsleven als bij de overheid. Bedrijven waar elektrotechnici aan het werk gaan zijn NXP, TenneT, Essent, GTI, middelgrote bedrijven zoals Alewijnse, Medtronics, KEMA en kleine bedrijven zoals Profline, Mechatronics.
          p Door de afgewogen combinatie van theoretische kennis en praktische vaardigheden ben je op een breed terrein deskundig. De vraag naar elektrotechnici is groot. Het diploma wordt hoog gewaardeerd, zowel in het bedrijfsleven als bij de overheid. Bedrijven waar elektrotechnici aan het werk gaan zijn NXP, TenneT, Essent, GTI, middelgrote bedrijven zoals Alewijnse, Medtronics, KEMA en kleine bedrijven zoals Profline, Mechatronics.
    - 
      name: Sectie (Richtext, tabel)
      example: |
        +section-richtext('','Studiefeiten Elektrotechniek 2017-2018')
          table
            tbody
              tr
                th Diploma
                td Bachelor of Science
              tr
                th Acreditatie
                td Officieel erkend door NVAO
              tr
                th Voertaal
                td Nederlands
              tr
                th Tijdsduur
                td 3,5 tot 4 jaar
                  br
                  a('#') Mogelijkheden voor vrijstellingen  
    -
      name: Sectie (Richtext, volledig)
      example: |
        +section-richtext('','')
          h3 Dit is een h3
          p De deeltijdstudenten die zich toeleggen op sustainable energy gaan samen met onze onderzoekers problemen in duurzame energievoorziening te lijf. Dit doen we met en in bedrijven waar we nauw mee samenwerken, vooral uit onze regio. Deze regio heeft de potentie om uit te blinken in de ontwikkeling van duurzame energievoorziening. Onze masterstudenten doen mee in de voorhoede.

          h4 Dit is een h4
          p Door de <a href='#'>afgewogen combinatie</a> van <strong>theoretische kennis</strong> en <i>praktische vaardigheden</i> ben je op een breed terrein deskundig. De vraag naar elektrotechnici is groot. Het diploma wordt hoog gewaardeerd, zowel in het bedrijfsleven als bij de overheid. Bedrijven waar elektrotechnici aan het werk gaan zijn NXP, TenneT, Essent, GTI, middelgrote bedrijven zoals Alewijnse, Medtronics, KEMA en kleine bedrijven zoals Profline, Mechatronics.

          h5 Wat kun je worden na je studie?
          ul
            li Elektromonteur is een mooi beroep dat je kunt worden als je heel erg goed bent in het werken met kabeltjes en stopcontacten
            li Werktuigbouwkundig ingenieur
            li Architect
              ul
                li Nieuwbouwprojecten
                li Renovatie
                li Beiden
            li Stedebouwkundige
          p In je eerste jaar maak je kennis met alle onderdelen van Elektrotechniek: hardware en software programmeren, microcontrollers, elektromechanica.
          ol
            li Sofware programmeren
            li Microcontrollers
            li Elektronica bevestigen
              ol
                li Optie 1
                li Optie 2
            li Hardware plaatsen

mixin section-richtext(eyebrow, title, intro)
  include ./section
  include ../atoms/richtext
  include ./intro

  +section(eyebrow, title)(class='section--richtext')&attributes(attributes)
    if intro
      +intro #{intro}
    +richtext
      block