//- @pugdoc
  name: Sectie (Richtext)
  description: Sectie met eyebrow, kop en richtext content
  examples:
    - |
      +section-richtext('','')
        p De deeltijdstudenten die zich toeleggen op sustainable energy gaan samen met onze onderzoekers problemen in duurzame energievoorziening te lijf. Dit doen we met en in bedrijven waar we nauw mee samenwerken, vooral uit onze regio. Deze regio heeft de potentie om uit te blinken in de ontwikkeling van duurzame energievoorziening. Onze masterstudenten doen mee in de voorhoede.
    - |
      hr.demo
      +section-richtext('Beroepen','Wat kun je worden met Elektrotechniek?')
        .demo-typo__intro De deeltijdstudenten die zich toeleggen op sustainable energy gaan samen met onze onderzoekers problemen in duurzame energievoorziening te lijf. Dit doen we met en in bedrijven waar we nauw mee samenwerken, vooral uit onze regio. Deze regio heeft de potentie om uit te blinken in de ontwikkeling van duurzame energievoorziening. Onze masterstudenten doen mee in de voorhoede.
        p Door de afgewogen combinatie van theoretische kennis en praktische vaardigheden ben je op een breed terrein deskundig. De vraag naar elektrotechnici is groot. Het diploma wordt hoog gewaardeerd, zowel in het bedrijfsleven als bij de overheid. Bedrijven waar elektrotechnici aan het werk gaan zijn NXP, TenneT, Essent, GTI, middelgrote bedrijven zoals Alewijnse, Medtronics, KEMA en kleine bedrijven zoals Profline, Mechatronics.
    - |
      hr.demo
      +section-richtext('Beroepen','Wat kun je worden met Elektrotechniek?')
        p Door de afgewogen combinatie van theoretische kennis en praktische vaardigheden ben je op een breed terrein deskundig. De vraag naar elektrotechnici is groot. Het diploma wordt hoog gewaardeerd, zowel in het bedrijfsleven als bij de overheid. Bedrijven waar elektrotechnici aan het werk gaan zijn NXP, TenneT, Essent, GTI, middelgrote bedrijven zoals Alewijnse, Medtronics, KEMA en kleine bedrijven zoals Profline, Mechatronics.
        p Door de afgewogen combinatie van theoretische kennis en praktische vaardigheden ben je op een breed terrein deskundig. De vraag naar elektrotechnici is groot. Het diploma wordt hoog gewaardeerd, zowel in het bedrijfsleven als bij de overheid. Bedrijven waar elektrotechnici aan het werk gaan zijn NXP, TenneT, Essent, GTI, middelgrote bedrijven zoals Alewijnse, Medtronics, KEMA en kleine bedrijven zoals Profline, Mechatronics.
    - |
      hr.demo
      +section-richtext('','')
        h3 Wat kun je worden na je studie?
        ul
          li Elektromonteur is een mooi beroep dat je kunt worden als je heel erg goed bent in het werken met kabeltjes en stopcontacten
          li Werktuigbouwkundig ingenieur
          li Architect
            ul
              li Nieuwbouwprojecten
              li Renovatie
              li Beiden
          li Stedebouwkundige
        p In je eerste jaar maak je kennis met alle onderdelen van Elektrotechniek: hardware en software programmeren, microcontrollers, elektromechanica.
        ol
          li Sofware programmeren
          li Microcontrollers
          li Elektronica bevestigen
            ol
              li Optie 1
              li Optie 2
          li Hardware plaatsen
    - |
      hr.demo
      +section-richtext('','Studiefeiten Elektrotechniek 2017-2018')
        table
          tbody
            tr
              th Diploma
              td Bachelor of Science
            tr
              th Acreditatie
              td Officieel erkend door NVAO
            tr
              th Voertaal
              td Nederlands
            tr
              th Tijdsduur
              td 3,5 tot 4 jaar
                br
                a('#') Mogelijkheden voor vrijstellingen  
    - |
      hr.demo
      +section-richtext('','')
        h4 Dit is een titel in h4
        p Door de afgewogen combinatie van <a href='#'>theoretische kennis</a> en praktische vaardigheden ben je op een breed terrein deskundig. De vraag naar elektrotechnici is groot. Het diploma wordt hoog gewaardeerd, zowel in het bedrijfsleven als bij de overheid. Bedrijven waar elektrotechnici aan het werk gaan zijn NXP, TenneT, Essent, GTI, middelgrote bedrijven zoals Alewijnse, Medtronics, KEMA en kleine bedrijven zoals Profline, Mechatronics.
    - |
      hr.demo
      +section-richtext('','')
        h5 Dit is een titel in h5
        p Door de afgewogen combinatie van <strong>theoretische kennis</strong> en <i>praktische vaardigheden</i> ben je op een breed terrein deskundig. De vraag naar elektrotechnici is groot. Het diploma wordt hoog gewaardeerd, zowel in het bedrijfsleven als bij de overheid. Bedrijven waar elektrotechnici aan het werk gaan zijn NXP, TenneT, Essent, GTI, middelgrote bedrijven zoals Alewijnse, Medtronics, KEMA en kleine bedrijven zoals Profline, Mechatronics.

mixin section-richtext(eyebrow, title)
  include ./section
  include ../atoms/richtext

  +section(eyebrow, title)(class='section--richtext')
    +richtext
      block