//- @pugdoc
  name: Sectie
  capture: 0
  examples:
    - |
      +section(null, 'section title')
        | my section content
    - |
      +section('eyebrow', 'section title')
        | my section content

mixin section(eyebrow, title)
  .section&attributes(attributes)
    if title
      .section__header
        h2.section__header__title
          if eyebrow
            span.section__header__title__eyebrow #{eyebrow}
            span.accessibility :&nbsp;
          span.section__header__title__text #{title}

    .section__content
      block
