//- @pugdoc
  name: Sectie
  examples:
    - |
      +section(null, 'section title')
        | my section content
    - |
      hr.demo
      +section('eyebrow', 'section title')
        | my section content
    - |
      hr.demo
      +section('eyebrow', 'section title', 'This is intro text')
        | my section content

mixin section(eyebrow, title, intro)
  .section&attributes(attributes)
    .section-wrapper
      if title || intro
        .section__header
          if title
            +eyebrow-title(eyebrow, title)
      
          if intro
            p.section__header__intro !{intro}

      .section__content
        block
