//- @pugdoc
  name: Submenu-course-item
  description: Item van een submenu van een opleidingspagina. 
  capture: 0

mixin submenu-course-item(item)
  h3 #{item.title}
  p #{item.link}


//- @pugdoc
  name: Submenu-course
  description: submenu van een opleidingspagina.
  examples:
  - |
    div(style="height: 1000px")
      +submenu-course('Elektrotechniek', items, 'arrow')

mixin submenu-course(title,items, icon)
  include ../atoms/richtext
  include ../../icons/_icon

  nav(role='navigation')#submenu
    ul.dropdown__main
      li#homeBar
        +richtext
          h4.coursetitle !{title}
          +icon#chevron
        //a(id='homes') Home
      li.dropdown__submenu.hide
        a.dropdown__submenu__button.active(href="javascript:void(0)") Ontdekken
          +icon#arrow
        ul.dropdown
          li
            a(href='#') Elektro in het kort
          li
            a(href='#') Studenten aan het woord
          li
            a(href='#') Projecten en nieuws
          li
            a(href='#') De locatie
      li.hide
        a(href='#') Jouw toekomst
          +icon#arrow        
        ul.dropdown
          li
            a(href='#') Beroepen en bedrijven
          li
            a(href='#') Professionals over het vak
          li
            a(href='#') Doorstuderen
      li.dropdown__submenu.current.hide
        a.dropdown__submenu__button.active(href="javascript:void(0)") De studieopbouw
          +icon#arrow
        ul.dropdown
          li.dropdown__submenu
            a.dropdown__submenu__button(href='javascript:void(0)') Jaar 1
            ul.dropdown
              li
                a(href='#') Je propedeuse jaar
        ul.dropdown
          li.dropdown__submenu
            a.dropdown__submenu__button(href='javascript:void(0)') Jaar 2
            ul.dropdown
              li
                a(href='#') Je verdiepende jaar
        ul.dropdown
          li.dropdown__submenu
            a.dropdown__submenu__button(href='javascript:void(0)') Jaar 3
            ul.dropdown
              li
                a(href='#') Stage en minor
        ul.dropdown
          li.dropdown__submenu
            a.dropdown__submenu__button(href='javascript:void(0)') Jaar 4
            ul.dropdown
              li
                a(href='#') Afstuderen
      li.hide
        a(href='#') Maak kennis
          +icon#arrow
        ul.dropdown
          li
            a(href='#') Kom de HAN ontdekken
          li
            a(href='#') Studeren in Arnhem
      li.hide
        a(href='#') Praktische info
          +icon#arrow
        ul.dropdown
          li
            a(href='#') De toelatingseisen
          li
            a(href='#') Aanmeldprocedure
          li
            a(href='#') Studeren met een beperking
          li
            a(href='#') Opleidingskosten
      li.hide
        a(href="#") Contact
          +icon#arrow
