
mixin textmedia(align, eyebrow, title, intro, buttons)
  include ../atoms/btn-primary
  include ../atoms/btn-secondary
  include ../atoms/strong-link

  - var cls = [];
  if align === ALIGN_RIGHT
    - cls.push('textmedia--align-right');

  .textmedia(class=cls)

    .textmedia__body

      if title || eyebrow
        h2.textmedia__body__title
          if eyebrow
            span.textmedia__body__title__eyebrow #{eyebrow}
            span.accessibility :&nbsp;
          span.textmedia__body__title__eyebrow__label #{title}

      if intro
        .textmedia__body__intro !{intro}
      
      if buttons && buttons.length
        .textmedia__buttons
          each button in buttons
            .textmedia__buttons__button
              if button.type === BUTTON_PRIMARY
                +btn-primary(button.label, button.href, button.icon)

              else if button.type === BUTTON_SECONDARY
                +btn-secondary(button.label, button.href, button.icon)

              else if button.type === STRONG_LINK
                +strong-link(button.label, button.href, button.icon)

    .textmedia__media
      block


//- @pugdoc
  name: Sectie (Tekst en Media, afbeelding)

mixin section-textmedia-image(align, image, eyebrow, title, intro, buttons)
  include ./section

  +section(class='section--textmedia-image')&attributes(attributes)
    +textmedia(align, eyebrow, title, intro, buttons)
      picture.textmedia-picture
        - var sizes = []
        - sizes.push({ minWidth: 1024, width: 520, ratio: 1 });
        - sizes.push({ minWidth: 900, width: 1024, ratio: 21/9 });
        - sizes.push({ minWidth: 768, width: 900, ratio: 21/9 });
        - sizes.push({ minWidth: 500, width: 768, ratio: 21/9 });
        - sizes.push({ minWidth: 375, width: 500, ratio: 21/9 });
        - sizes.push({ minWidth: 1, width: 375, ratio: 21/9 });
        
        +srcset(image, sizes)
        img(src='', alt='')


//- @pugdoc
  name: Sectie (Tekst en Media, feiten)

mixin section-textmedia-facts(align, facts, eyebrow, title, intro, buttons)
  include ./section
  include ../atoms/facts

  +section(class='section--textmedia-facts')&attributes(attributes)
    +textmedia(align, eyebrow, title, intro, buttons)
      .textmedia-facts
        +facts(facts)
