// .address {}

/**
* Body
*/

.address__body {
}

.address__body__title {
  font-family: $bold;
  color: $black;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 8px;

  @include breakpoint($bp-m) {
    font-size: 19px;
  }

  @include breakpoint($bp-l) {
    font-size: 20px;
  }
}

.address__body__text {
  @include base;
  color: $grey5;
  font-style: normal;

  a {
    @include focusable($hanred);
    color: $grey5;

    &:hover {
      text-decoration: none;
    }
  }
}

.address__footer {
  padding-top: 18px;
}
