//- buttons.scss

// variables
$primary-button-background: #3FA2F7;
$secondary-button-font-color: #2269BE;
$secondary-button-border: 2px solid #E4F1FD;
$tertiary-button-font-color: #3FA2F7;
$border-radius: 5px;
$tertiary-button-border: 2px solid #6CB9FB;
$hover-degree: 15%;

@mixin button($font, $background, $border: none) {
	color: $font;
	background-color: $background;
	border: 2px solid $border;
	padding: 24px;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	line-height: 16px;
	
	&:hover {
		cursor: pointer; 
		background-color: darken($background, $hover-degree);
	}
	&:focus {
		box-shadow: none;
	}
}
@mixin button-primary() {
	@include button($white, $hanred, none);
}
@mixin button-secondary() {
    @include button($darkgrey, $white, $lightgrey);
}
@mixin button-transparent() {
	@include button($darkgrey, transparent, $lightgrey);
	&:hover {
		color: $white;
		background-color: $darkgrey;
		border: 2px solid $lightgrey;
	}
}
.btn {
	/* qua tekst opmaak zelfde als h4 */
	position: relative;
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: $border-radius;
	text-align: left;
	font-weight: 500;
/*	width: 100%; */
	overflow: hidden;
}

.btn-primary {
    @include button-primary();
}
.btn-secondary {
	@include button-secondary();
}
.btn-transparent {
	@include button-transparent();
}