//- buttons.scss

@mixin button($font, $background, $border: none) {
	color: $font;
	background-color: $background;
	border: 2px solid $border;
	padding: 24px;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	line-height: 16px;

	&:hover {
		cursor: pointer; 
		background-color: darken($background, 15%);
	}
	&:focus {
		box-shadow: none;
	}
}
@mixin button-primary() {
	@include button($white, $hanred, $hanred);
}
@mixin button-secondary() {
    @include button($grey5, $white, $grey2);
}
@mixin button-transparent() {
	@include button($grey5, transparent, $grey2);
	&:hover {
		color: $white;
		background-color: $grey5;
		border: 2px solid $grey2;
	}
}


.btn-primary {
    @include button-primary();
}
.btn-secondary {
	@include button-secondary();
}
.btn-transparent {
	@include button-transparent();
}