.navbar {
  background-color: #e50056;
  color: white;
}

.navbar .site-name {
  color: white;
}

.navbar .links {
  background-color: transparent;
}

.nav-links a:hover, 
.nav-links a.router-link-active {
  color: white;
}

.nav-links .icon.outbound {
  color: white;
}