//- @pugdoc
  name: component2
  description: this is my second component
  examples:
    - +component2('Dit is de titel','Dit is de lead tekst.','Wat doe je tijdens de propedeuse? Wat is een <a href="#">differentiatie</a>? Hoe zit het met stages, minoren en afstuderen? Ontdek het op de tijdlijn van de opleiding Elektrotechniek.')
    - +component2('boop')

mixin component2(title,lead,text)
  .txt
   .intro 
    h1.intro__title #{title}
    p.intro__text.lead #{lead}
    p !{text}
    