//- @pugdoc
  name: component3
  examples:
    - |
      +component3('hallootjes <a href="#">allemaal</a>', true, 'met tekst eronder')
    - |
      +component3('beep', true)

mixin component3(text, showImage, text2)
  div(style='color: green') !{text}
  hr
  if showImage
    img(src="http://placehold.it/100x100")
    p !{text2}