//- @pugdoc
  name: factsheet-item
  description: deeltijd praktische informatie factsheet-item
  examples:
    - +factsheet-item('Factsheet','hier komt een  tekstje')

mixin factsheet-item(obj)
    .row
        .col-4.col-label #{obj.title}
        .col-8 #{obj.text}


//- @pugdoc
  name: factsheet
  description: deeltijd praktische informatie factsheet
  examples:
    - |
        include ./factsheet
        - var items = [];
        - items.push({ title: 'ggg', body: 'fff' })
        - items.push({ title: 'ggg', body: 'fff' })
        - items.push({ title: 'ggg', body: 'fff' })
        +factsheet('Factsheet', items)
        

mixin factsheet(title, items)
  block section
    section.row.section--color.factsheet 
        span.anchor#factsheet
            h2 #{title}
            if block
                each item in items
                    +factsheet-item(item)
            else
                p haha bier

//- @pugdoc
    name: Sectie (factsheet)

mixin section-factsheet
    +factsheet(dsflsdkf)
                        