//- @pugdoc
  name: Algemeen (Iconen symbols)
  capture: 0

svg(style ='display: none !important;', id='icons')
  symbol(id='arrow')
    include ./arrow
  symbol(id='chevron')
    include ./chevron
  symbol(id='download')
    include ./download
  symbol(id='external')
    include ./external
  symbol(id='clock-line')
    include ./clock-line
  symbol(id='hamburger')
    include ./hamburger
  symbol(id='search')
    include ./search
  symbol(id='info')
    include ./info