html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $medium;
  touch-action: manipulation;
  color: $grey5;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  color: $black;
  background-color: $grey1;

  &.modal-is-open--coursenav,
  &.modal-is-open--takeover {
    overflow-y: hidden;
  }

  &.modal-is-opening--takeover,
  &.modal-is-closing--takeover {
    overflow-y: auto;
  }
}

/**
 * Main container
 */

.main {
  background-color: $white;
  margin: 0 auto;
  max-width: 1440px;
  transform: scale3d(1, 1, 1);
  transition: transform 1s ease-in-out;
  transform-origin: top center;

  .modal-is-open--takeover & {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  .modal-is-closing--takeover & {
    transition-duration: 0.5s;
    transform: scale3d(1, 1, 1);
  }
}

/**
 * Sharpen images
 */

img {
  image-rendering: -webkit-optimize-contrast; //sass-lint:disable-line no-misspelled-properties
}
