html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $medium;
  touch-action: manipulation;
  color: $grey5;
}

body {
  overflow-x: hidden;
  color: $black;
  background-color: $grey1;
}

/**
 * Main container
 */

.main {
  background-color: $white;
  margin: 0 auto;
  max-width: 1440px;
  min-height: calc(100vh - 39px - 39px - 39px); // TODO:: remove this, fix footer to bottom
}

/**
 * Sharpen images
 */

img {
  image-rendering: -webkit-optimize-contrast; //sass-lint:disable-line no-misspelled-properties
}