extends ./_deeltijd
include ../../utils/todo
include ../../components/nav/coursenav
include ../../components/hero/course-hero
include ../../components/content/line

block append vars
  - pageTitle.push('Deeltijd info');
  - pagePath = '/deeltijd/info';

block subnav
  +coursenav('leraar basisonderwijs (pabo) deeltijd', coursenavItems)
  
block main
  +course-hero('vrouw-techniek.jpg', 'Praktische info')
    | Hoeveel tijd kost mijn deeltijdstudie? Wat zijn de toelatingseisen voor de Pabo, de studiekosten, vergoedingen, fiscale spelregels... Op deze pagina vind je alle praktische informatie over de deeltijd Pabo.

  +section-line
  +todo('mapaddress')
  +todo('collapsibles')
  +todo('facts table')
  +todo('collapsibles')
  +todo('shout for action')
  +todo('collapsibles')
  +todo('collapsibles')
  +todo('collapsibles')
  +todo('contact')
  +todo('scream for action')