extends ./_deeltijd
include ../../utils/todo
include ../../components/nav/coursenav

block append vars
  - pageTitle.push('Deeltijd info');
  - pagePath = '/deeltijd/info';

block subnav
  +coursenav('leraar basisonderwijs (pabo) deeltijd', coursenavItems)
  
block main
  | praktische info <a href="">hero</a>
  style.
    li:focus {
      border: 10px solid red;
    }
  ul
    each n,i in new Array(20)
      li(style='height: 600px; color: black; background-color: #efefef; margin-bottom: 10px;', id="id" + (i + 1), class='section') #{i+1}