extends ./_deeltijd
include ../../utils/todo
include ../../components/nav/coursenav

block append vars
  - pageTitle.push('Deeltijd');
  - pagePath = '/deeltijd/overzicht';

block subnav
  +coursenav('leraar basisonderwijs (pabo) deeltijd', coursenavItems)

block main
  +todo('course superhero')
  +todo('course facts')
  +todo('usp cards')
  +todo('vaardigheden')
  +todo('shout for action')
  +todo('textmedia')
  +todo('textmedia highlight')
  +todo('link lists')
  +todo('contact')
  +todo('shout for action')