extends ./_deeltijd
include ../../utils/todo
include ../../components/nav/coursenav
include ../../components/content/line
include ../../components/content/link-list
include ../../components/content/shout
include ../../components/content/scream
include ../../components/content/textmedia

block append vars
  - pageTitle.push('Deeltijd');
  - pagePath = '/deeltijd/overzicht';

block subnav
  +coursenav('leraar basisonderwijs (pabo) deeltijd', coursenavItems)

block main
  +todo('course superhero')
  +todo('course facts')
  +todo('usp cards')
  +todo('vaardigheden')#vaardigheden-en-beroepen
  
  - var title = 'Kom sparren met je studieadviseur';
  - var image = 'kind-robot.jpg';
  - var intro = 'Je eigen oordeel is het belangrijkst bij zo`n beslissende keuze. Een adviesgesprek met een HAN studieadviseur kan daarbij helpen. Je kunt je verwachtingen toetsen en je krijgt inzicht in je persoonlijke studieprogramma.';
  - var buttons = [];
  - buttons.push({ href: '/', label: 'Regel een adviesgesprek', type: BUTTON_PRIMARY, icon: 'external' });
  +section-shout(title, image, intro, buttons)

  - var image = 'kind-robot.jpg'
  - var eyebrow = 'Waar gaat je vak heen?'
  - var title = 'Toekomst van het onderwijs'
  - var intro = '<p>De staatssecretaris van Onderwijs heeft in 2015 opdracht gegeven voor een maatschappelijke dialoog over de toekomst van het Nederlandse onderwijs. De positie van leraren is een belangrijke pijler van deze toekomstvisie. Er is afgesproken om te investeren in de professionele ontwikkeling van leraren. Een moderne, eigentijdse opleiding zoals de Pabo deeltijd van de HAN sluit helemaal aan op deze toekomstvisie. </p>'
  - var buttons = []
  - buttons.push({ type: BUTTON_SECONDARY, label: 'Meer over de toekomst van het onderwijs', href: '#takeover1', icon: 'external'})
  +section-textmedia-facts(ALIGN_LEFT, [1,2,3,4], eyebrow, title, intro, buttons)#toekomst-van-het-onderwijs
  
  +todo('textmedia highlight')#combineren-met-werk-en-prive
  
  - var items = [];
  - items.push({ label: 'Toelatingseisen', href: './info.html#toelatingsinformatie' });
  - items.push({ label: 'Aanmeldprocedure', href: './info.html#' });
  - items.push({ label: 'Financiering.', href: './info.html#investering' });
  - items.push({ label: 'Voordelen voor je werkgever', href: './info.html#voor-werkgevers' });
  - items.push({ label: 'Kennis bijspijkeren', href: './info.html#' });
  - items.push({ label: 'Studeren met een beperking', href: './info.html#' });
  +section-link-list('Informatie voor het aanmelden', 'Zin om te starten? We wijzen je graag de weg.', items)

  +section-line

  +todo('contact')
  +section-scream('kind-robot.jpg', 'Volgende pagina', 'Dit is je studie', 'Hoe is de opleiding tot leraar basisonderwijs opgebouwd?', { label: 'Bekijk wat en hoe je gaat leren', href: './studie.html' })
