extends ./_deeltijd
include ../../utils/todo
include ../../components/nav/coursenav

block append vars
  - pageTitle.push('Deeltijd');
  - pagePath = '/deeltijd/overzicht';

block subnav
  +coursenav('leraar basisonderwijs (pabo) deeltijd', coursenavItems)

block main
  | deeltijd hero