extends ./_deeltijd
include ../../utils/todo
include ../../components/nav/coursenav
include ../../components/content/line
include ../../components/content/link-list
include ../../components/content/shout

block append vars
  - pageTitle.push('Deeltijd');
  - pagePath = '/deeltijd/overzicht';

block subnav
  +coursenav('leraar basisonderwijs (pabo) deeltijd', coursenavItems)

block main
  +todo('course superhero')
  +todo('course facts')
  +todo('usp cards')
  +todo('vaardigheden')#vaardigheden-en-beroepen
  
  - var title = 'Kom sparren met je studieadviseur';
  - var image = 'kind-robot.jpg';
  - var intro = 'Je eigen oordeel is het belangrijkst bij zo`n beslissende keuze. Een adviesgesprek met een HAN studieadviseur kan daarbij helpen. Je kunt je verwachtingen toetsen en je krijgt inzicht in je persoonlijke studieprogramma.';
  - var buttons = [];
  - buttons.push({ href: '/', label: 'Regel een adviesgesprek', type: BUTTON_PRIMARY, icon: 'external' });
  +section-shout(title, image, intro, buttons)

  +todo('textmedia')#toekomst-van-het-onderwijs
  +todo('textmedia highlight')#combineren-met-werk-en-prive
  
  - var items = [];
  - items.push({ label: 'Mijn eerste link.', href: 'https://han.nl' });
  - items.push({ label: 'Mijn tweede link.', href: 'https://han.nl' });
  - items.push({ label: 'Mijn derde link is een veel te lange link die over meerdere regels zal gaan.', href: 'https://han.nl' });
  - items.push({ label: 'Mijn vierde link.', href: 'https://han.nl' });
  - items.push({ label: 'Mijn vijfde financiering link.', href: 'https://han.nl' });
  +section-link-list('Informatie voor het aanmelden', 'Zin om te starten? We wijzen je graag de weg.', items)

  +section-line

  +todo('contact')
  +todo('scream for action')
  
  
