extends ./_deeltijd
include ../../utils/todo
include ../../components/nav/coursenav
include ../../components/content/line
include ../../components/content/link-list
include ../../components/content/shout
include ../../components/content/scream

block append vars
  - pageTitle.push('Deeltijd');
  - pagePath = '/deeltijd/overzicht';

block subnav
  +coursenav('leraar basisonderwijs (pabo) deeltijd', coursenavItems)

block main
  +todo('course superhero')
  +todo('course facts')
  +todo('usp cards')
  +todo('vaardigheden')#vaardigheden-en-beroepen
  
  - var title = 'Kom sparren met je studieadviseur';
  - var image = 'kind-robot.jpg';
  - var intro = 'Je eigen oordeel is het belangrijkst bij zo`n beslissende keuze. Een adviesgesprek met een HAN studieadviseur kan daarbij helpen. Je kunt je verwachtingen toetsen en je krijgt inzicht in je persoonlijke studieprogramma.';
  - var buttons = [];
  - buttons.push({ href: '/', label: 'Regel een adviesgesprek', type: BUTTON_PRIMARY, icon: 'external' });
  +section-shout(title, image, intro, buttons)

  +todo('textmedia')#toekomst-van-het-onderwijs
  +todo('textmedia highlight')#combineren-met-werk-en-prive
  
  - var items = [];
  - items.push({ label: 'Toelatingseisen', href: './info.html#toelatingsinformatie' });
  - items.push({ label: 'Aanmeldprocedure', href: './info.html#' });
  - items.push({ label: 'Financiering.', href: './info.html#investering' });
  - items.push({ label: 'Voordelen voor je werkgever', href: './info.html#voor-werkgevers' });
  - items.push({ label: 'Kennis bijspijkeren', href: './info.html#' });
  - items.push({ label: 'Studeren met een beperking', href: './info.html#' });
  +section-link-list('Informatie voor het aanmelden', 'Zin om te starten? We wijzen je graag de weg.', items)

  +section-line

  +todo('contact')
  +section-scream('kind-robot.jpg', 'Volgende pagina', 'Dit is je studie', 'Hoe is de opleiding tot leraar basisonderwijs opgebouwd?', { label: 'Bekijk wat en hoe je gaat leren', href: './studie.html' })
