extends ./_deeltijd
include ../../utils/todo
include ../../components/nav/coursenav

block append vars
  - pageTitle.push('Deeltijd studie');
  - pagePath = '/deeltijd/studie';

block subnav
  +coursenav('leraar basisonderwijs (pabo) deeltijd', coursenavItems)

block main
  | dit is je studie hero