extends ../_base
include ../../utils/todo
include ../../components/nav/coursenav

block append vars
  - pageTitle.push('Deeltijd studie');
  - pagePath = '/deeltijd/studie';

block subnav
  - 
    var items = [
    {
      href: "/deeltijd/overzicht.html",
      label: "Overzicht",
      subitems: [
        {
          href: "#id1",
          label: "Kop 1"
        },
        {
          href: "#id2",
          label: "Kop 2"
        },
        {
          href: "#id3",
          label: "Kop 3"
        }
      ]
    },
    {
      href: "/deeltijd/studie.html",
      label: "Dit is je studie",
      subitems: [
        {
          href: "#id1",
          label: "Kop 1"
        },
        {
          href: "#id2",
          label: "Kop 2"
        },
        {
          href: "#id3",
          label: "Kop 3"
        },
        {
          href: "#id4",
          label: "Kop 4"
        }
      ]
    },
    {
      href: "/deeltijd/info.html",
      label: "Praktische info",
      subitems: [
        {
          href: "#id1",
          label: "Kop 1"
        }
      ]
    }
    ];

  +coursenav('leraar basisonderwijs (pabo) deeltijd', items)

block main
  | dit is je studie hero