extends ./_deeltijd
include ../../utils/todo
include ../../components/nav/coursenav
include ../../components/hero/course-hero

block append vars
  - pageTitle.push('Deeltijd studie');
  - pagePath = '/deeltijd/studie';

block subnav
  +coursenav('leraar basisonderwijs (pabo) deeltijd', coursenavItems)

block main
  +course-hero('kind-robot.jpg', 'Dit is je studie')
    | Op de deeltijd Pabo kun je jezelf ontwikkelen tot een moderne leerkracht met een eigen visie. In deze flexibele Pabo kies je de accenten die jij interessant vindt. Na 4 jaar deeltijd Pabo heb je alles in huis om het talent in kinderen te laten opbloeien. Hoe verschillend ze ook zijn.