//- @pugdoc
  name: Knop (Primair)
  description: Primaire knop. Maximaal 30 karakters.
  examples:
    - |
      .demo-theme-white
        +btn-primary('Bereken je reistijd', 'https://www.han.nl')
        +btn-primary('Bereken je reistijd', 'https://www.han.nl', 'arrow')
        +btn-primary('Bereken je reistijd', 'https://www.han.nl', 'external')
        +btn-primary('Bereken je reistijd', 'https://www.han.nl', 'clock-line')
    - |
      .demo-theme-red
        +btn-primary('Bereken je reistijd', 'https://www.han.nl')
        +btn-primary('Bereken je reistijd', 'https://www.han.nl', 'arrow')
        +btn-primary('Bereken je reistijd', 'https://www.han.nl', 'external')
        +btn-primary('Bereken je reistijd', 'https://www.han.nl', 'clock-line')
    - |
      .demo-theme-black
        +btn-primary('Bereken je reistijd', 'https://www.han.nl')
        +btn-primary('Bereken je reistijd', 'https://www.han.nl', 'arrow')
        +btn-primary('Bereken je reistijd', 'https://www.han.nl', 'external')
        +btn-primary('Bereken je reistijd', 'https://www.han.nl', 'clock-line')

mixin btn-primary(label, href, icon)
  include ../../icons/_icon

  a.btn-primary(href=href)

    - var iconsAfter = ['arrow', 'external']
    
    //- icon before
    if icon && iconsAfter.indexOf(icon) === -1
      +icon(id=icon)

    span.btn-primary__label #{label}

    //- icon after
    if icon && iconsAfter.indexOf(icon) > -1
      +icon(id=icon)