//- @pugdoc
  name: Knop (Secundair)
  examples:
    - |
      .demo-theme-white
        +btn-secondary('Meld je aan', 'https://www.han.nl')
        +btn-secondary('Meld je aan', 'https://www.han.nl', 'arrow')
        +btn-secondary('Meld je aan', 'https://www.han.nl', 'external')
        +btn-secondary('Meld je aan', 'https://www.han.nl', 'clock-line')
    - |
      .demo-theme-red
        +btn-secondary('Meld je aan', 'https://www.han.nl')
        +btn-secondary('Meld je aan', 'https://www.han.nl', 'arrow')
        +btn-secondary('Meld je aan', 'https://www.han.nl', 'external')
        +btn-secondary('Meld je aan', 'https://www.han.nl', 'clock-line')
    - |
      .demo-theme-black
        +btn-secondary('Meld je aan', 'https://www.han.nl')
        +btn-secondary('Meld je aan', 'https://www.han.nl', 'arrow')
        +btn-secondary('Meld je aan', 'https://www.han.nl', 'external')
        +btn-secondary('Meld je aan', 'https://www.han.nl', 'clock-line')
    - |
      .demo-theme-white
        +btn-secondary('Gebruik het contactformulier met extra lang label', 'https://www.han.nl', 'arrow')
        +btn-secondary('Gebruik het contactformulier met extra extra extra extra lang label', 'https://www.han.nl', 'arrow')
        +btn-secondary('Meld je aan', 'https://www.han.nl', 'arrow')

mixin btn-secondary(label, href, icon)
  include ../../icons/_icon

  a.btn-secondary(href=href)

    - var iconsAfter = ['arrow', 'external']
    
    //- icon before
    if icon && iconsAfter.indexOf(icon) === -1
      +icon(id=icon)

    span.btn-secondary__label #{label}

    //- icon after
    if icon && iconsAfter.indexOf(icon) > -1
      +icon(id=icon)