//- @pugdoc
  name: button

mixin button(text, title, link)
  a(href=link, title=title, class=attributes.class) #{text}


//- @pugdoc
  name: button-primary
  examples:
    - |
      include ./button
      +button-primary('Aanmelden', 'https://www.han.nl', 'titel tekst')

mixin button-primary(text, link, title)
  +button(text, link, title)(class='btn-primary')


//- @pugdoc
  name: button-secondary
  examples:
    - |
      include ./button
      +button-secondary('Aanmelden', 'https://www.han.nl', 'titel tekst')

mixin button-secondary(text, link, title)
  +button(text, link, title)(class='btn-secondary')


//- @pugdoc
  name: button-transparent
  examples:
    - |
      include ./button
      +button-transparent('Aanmelden', 'https://www.han.nl', 'titel tekst')

mixin button-transparent(text, link, title)
  +button(text, link, title)(class='btn-transparent')
