//- @pugdoc
  name: Eyebrow and Title
  description: Mixin for eyebrow and title combination.

mixin eyebrow-title(eyebrow,title)
  h2.section__header__title
    if eyebrow
      span.section__header__title__eyebrow #{eyebrow}
      span.accessibility :&nbsp;
    span.section__header__title__text #{title}