//- @pugdoc
  name: Richtext
  description: Wrapper voor CMS WYSIWYG content.
  example: |
    +richtext
      h1 Dit is een h1
      h2 Dit is een h2
      h3 Dit is een h3
      h4 Dit is een h4
      h5 Dit is een h5
      p dit is paragraph text 
      ul
        li eerste item
        li tweede item
        li derde item
      ol 
        li eerste item
        li tweede item
        li derde item
      table
        tr
          th nr
          th naam
          th plaats
        tr
          td 1
          td Piet Jansen
          td Nijmegen
        tr  
          td 2
          td Piet Jansen
          td Nijmegen
        tr
          td 3
          td Piet Jansen
          td Nijmegen


mixin richtext
  .richtext
    block