.section {
  @include page-spacing;
  position: relative;
  overflow: hidden;
}

.section-wrapper {
  @include grid;
  position: relative;
}


/**
 * Text section
 */
@mixin section-inner-item {
  @include grid-item(8);
  max-width: #{($container-width + 40px)/ 100 * (100 / 12 * 8)};
  flex-basis: auto;
}

@mixin section-inner {
  .section__header {
    @include section-inner-item;
    width: 100%;
  }

  .section__content {
    @include section-inner-item;
  }
}


/**
 * Content
 */

.section__content {
  width: 100%;
}

/**
 * Default section
 */

.section--richtext {
  @include section-inner;
}

.section--textmedia {
  
}

.section--textmedia-left {
  
}

.section--textmedia-right {
  .textmedia {
    flex-direction: row-reverse;
  }
}