.section {
  @include page-spacing;
  position: relative;
  overflow: hidden;
  margin: 100px 0; // TODO: section spacings
}

.section-wrapper {
  @include grid;
  position: relative;
}

/**
 * Text section
 */
@mixin section-inner-self($max-columns: 8) {
  @include grid-item(12);
  flex-basis: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  @include breakpoint($bp-l) {
    @include grid-item($max-columns);
    max-width: #{($container-width + 40px) / 100 * (100 / 12 * $max-columns)};
  }
}

@mixin section-inner($max-columns: 8) {
  .section__header {
    @include section-inner-self($max-columns);
    width: 100%;
  }

  .section__content {
    @include section-inner-self($max-columns);
  }
}

/**
 * Content
 */

.section__content {
  width: 100%;
}

/**
 * Default section title
 */

.section__header__title__eyebrow {
  @include eyebrow;
  margin-bottom: 1em;
  display: block;
}

.section__header__title__text {
  @include h2;
  margin-bottom: 0.5em;
  display: block;

  @include breakpoint($bp-m) {
    @include underscore;
  }
}

.section__header__intro {
  @include p;
  margin-bottom: 1em;
}

/**
 * Default section
 */

.section--richtext {
  @include section-inner-self;
}

/**
 * Text media
 */

.section--textmedia {
  @include grid;
}
// .section--textmedia-left {}

.section--textmedia-right {
  .textmedia {
    flex-direction: row-reverse;
  }
}

/**
 * Uitklappers
 */

.section--collapsibles {
  @include section-inner(10);
}

/**
 * Line
 */

.section--line {
  .section__content {
    @include grid-item(12);
  }
}

/**
 * Facts table
 */

.section--facts-table {
  @include section-inner(10);
}

/**
 * Locations
 */

.section--locations {
  @include section-inner(12);

  @include breakpoint($bp-m) {
    padding-bottom: 30px; // compensate for bottom shadow
    margin-bottom: -30px;
  }
}
