.section {
  @include page-spacing;
  position: relative;
  overflow: hidden;
  margin: 100px 0; // TODO: section spacings
}

.section-wrapper {
  @include grid;
  position: relative;
}

/**
 * Text section
 */
@mixin section-inner-self($max-columns: 8) {
  @include breakpoint($bp-l) {
    @include grid-item($max-columns);
    max-width: #{($container-width + 40px) / 100 * (100 / 12 * $max-columns)};
    flex-basis: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin section-inner($max-columns: 8) {
  .section__header {
    @include section-inner-self($max-columns);
    width: 100%;
  }

  .section__content {
    @include section-inner-self($max-columns);
  }
}

/**
 * Content
 */

.section__content {
  width: 100%;
}

/**
 * Default section title
 */

.section__header__title__eyebrow {
  @include eyebrow;
  @include margin-bottom-standard;
  display: block;
}

.section__header__title__text {
  @include h2;
  @include margin-bottom-small;
  display: block;

  @include breakpoint($bp-m) {
    @include underscore;
  }
}

.section__header__intro {
  @include p;
  @include margin-bottom-standard;
}

/**
 * Default section
 */

.section--richtext {
  @include section-inner-self;
}

/**
 * Text media
 */

.section--textmedia {
  @include grid;
}
// .section--textmedia-left {}

.section--textmedia-right {
  .textmedia {
    flex-direction: row-reverse;
  }
}

/**
 * Uitklappers
 */

.section--collapsibles {
  @include section-inner(10);
}

/**
 * Line
 */

.section--line {
  .section__content {
    @include grid-item(12);
  }
}

/**
 * Facts table
 */

.section--facts-table {
  @include section-inner(10);
}
