//- @pugdoc
  name: typo
  description: typography HAN.nl
  examples:
    - +hero

mixin hero
    .hero-component
        .hero-content
            h1 Dit is een super hero
            h2 uhm een normale hero