.course-details {
  @include grid;
}

/**
 * Sidebar
 */

.course-details__sidebar {
  @include grid-item(5);
}

/**
 * Main
 */

.course-details__main {
  @include grid-item(7);
}

.course-details__main__item {
  border-bottom: 1px solid $grey2;
  padding: 24px 0;

  &:last-of-type {
    border-bottom: 0;
  }

  .facts {
    max-width: 500px;
  }
}

/**
 * Badges
 */

.course-details-score {
  display: flex;
}

.course-details-score__rating {
}

.course-details-score__badges {
  margin-left: auto;

  img {
    image-rendering: auto;
    height: 50px;
    margin-left: 24px;
    vertical-align: middle;
  }
}
