.section--submenu-course {
  @include grid;
  background-color: $black;
  color: $white;
  padding-left: 0;
  padding-right: 0;

  ol.collapsibles.js-collapsibles {

    li.collapsibles__item.js-collapsible {
      background-color: $black;
      color: $white;

      .collapsible {

        h3.collapsible__title {

          button.collapsible__title__button {
            @include h2;
            @include underscore;
            display: none;
            color: $white;

            &:hover {
              text-decoration: none;
            }

            &.top {

              .icon {
                transform: rotate(90deg);
                // transition: fill .15s, transform .15s;
              }
            }

            &.bottom {
              box-shadow: inset 0px -15px 10px -15px #FFF;


              .icon {
                transform: rotate(-90deg);

                &::after {
                  content: '';
                  width: 24px;
                  height: 1px;
                  background: $hanred;
                  position: absolute;
                  bottom: -1px;
                  right: 0;
                }
                // transition: fill .15s, transform .15s;
              }
            }

            &.show {
              display: block;
            }

            .icon {
              fill: $white;
            }
          }
        }

        .collapsible__content {
          text-align: right;
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 0;


          .richtext {

            .title__lg-screen {
              display: none;
            }

            & > ul {

              & > li {
                padding: 56px 32px 48px 32px;
                margin-bottom: 0 !important;

                &:hover {
                  background-color: $grey5;
                }

                & ~ li {
                }
              }
            }

            ul {

              li {
                margin-bottom: 16px;
                font-size: 14px;

                &::before {
                  content: none;
                }

                .submenu__title {
                  @include h4;
                  position: relative;
                  text-transform: none;
                  margin-bottom: 32px;
                  padding-bottom: 8px;
                  width: 100%;
                  background-color: transparent;

                  &::after {
                    content: '';
                    width: 24px;
                    height: 1px;
                    background: $grey4;
                    position: absolute;
                    bottom: -1px;
                    right: 0;
                  }

                  .icon {
                    display: inline-block;
                    fill: $hanred;
                    width: 16px;
                    height: 16px;
                    margin-left: 8px;
                  }
                }

                ul {

                  li {
                    text-decoration: underline;
                    text-decoration-color: $grey4;

                    a {
                      color: $white;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint($bp-m) {
  .section--submenu-course {

    ol.collapsibles.js-collapsibles {

      li.collapsibles__item.js-collapsible {

        .collapsible {

          h3.collapsible__title {

            button.collapsible__title__button {
              display: none;

              &:hover {
              }

              &.show {
                display: block;
              }
              &.js-collapsible__button {

              }
              .icon {
              }
            }
          }
          .collapsible__content {

            .richtext {

              & > ul {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                overflow: auto;
                overflow-x: scroll;
                white-space: nowrap;

                & > li {
                  display: inline-block;
                  vertical-align: text-top;
                  padding-right: 32px;
                  flex-grow: 0;
                  flex-shrink: 0;
                  flex-basis: 28%;

                  & ~ li {
                    margin-top: 0;
                    border-left: 1px solid $grey4;
                  }
                }
              }
              ul {

                li {

                  .submenu__title {
                    white-space: normal;

                    .icon {
                    }
                  }

                  ul {

                    li {
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include breakpoint($bp-l) {
  .section--submenu-course {
    overflow: initial;

    .section__content {
      background-color: $white;

      ol.collapsibles.js-collapsibles {

        li.collapsibles__item.js-collapsible {
          border: 0;

          .collapsible {

            h3.collapsible__title {
              color: $black;
              background-color: $white;

              button.collapsible__title__button {
                // display: none;
                color: $black;
                background-color: red;
                width: 40%;



                &:hover {
                }

                &.show {
                }

                &.js-collapsible__button {
                }

                .icon {
                }
              }
            }

            .collapsible__content {
              display: inline-block!important;
              background-color: $white;
              width: 60%;

              .richtext {
                background-color: $white;

                // &.sticky {
                //   position: fixed;
                //   top: 0;
                //   width: 100%;
                //   background-color: $white;
                // }

                .title__lg-screen {
                  @include underscore;
                  // display: block;
                  // float: left;
                  color: $black;
                  // padding-top: 24px;
                  max-width: 25.9%;
                  text-align: left;
                  border: 1px solid red;
                }

                & > ul {
                  display: block;
                  overflow: initial;
                  white-space: initial;
                  float: right;
                  margin-left: 0;
                  max-width: 75%;
                  border: 1px solid blue;

                  & > li {
                    position: relative;
                    background-color: $white;
                    color: $black;
                    font-weight: 500;
                    width: initial;
                    padding: 24px;
                    padding-bottom: 0;

                    &:hover {
                      background-color: $white;
                      font-weight: 900;

                      & .submenu__title {
                        border-bottom: 4px solid $grey2;
                      }

                      ul {
                        display: block;
                        position: absolute;
                        left: 24px;
                        top: 54px;
                        overflow: visible;
                        color: $black;
                        // margin-top: 8px;
                        z-index: 20;
                        background-color: $white;

                        li {
                          margin: 0;
                          padding: 24px;
                          text-decoration: none;
                          text-align: left;

                          &:hover {
                            background-color: $grey2;
                          }

                          a {
                            color: $primary-color;
                          }

                          & ~ li {
                            border-top: 1px solid $grey2;
                          }
                        }
                      }
                    }

                    & ~ li {
                      border-left: 0;
                    }

                    .submenu__title {
                      margin-bottom: 0;
                      padding-bottom: 8px;
                      font-size: 15px;

                      &::after {
                        content: '';
                        height: 0;
                        width: 0;
                        background-color: transparent;
                      }

                      &.active {
                        border-bottom: 4px solid $hanred;
                      }

                      .icon {
                        display: none;
                      }
                    }

                    ul {
                      display: none;
                    }
                  }
                }

                ul {
                  margin-top: 0;

                  li {

                    .submenu__title {

                      .icon {
                      }
                    }

                    ul {

                      li {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
