#submenu {
  width: 100%;
  background-color: $black;
  color: $white;
  text-align: right;

  &.bottom {
    position: fixed;
    bottom: 6.65rem;
  }

  .dropdown__main {
    list-style-type: none;
    margin: 0 2rem 0 0;
    padding: 0;

    & > li > a {
      display: inline-block;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-bottom: 0;
    }

    #homeBar {
      &.bottom {
        position: fixed;
        bottom: 0;
      }
    }

    .hide {
      // display: none;
      position: absolute;
      visibility: hidden;
      display: none;
    }

    .show {
      position: relative;
      visibility: visible;
      display: inline-block;
    }

    li {
      position: relative;
      padding-top: 1rem;
      font-weight: 600;

      &.dropdown__submenu {

        &.current {
          background-color: rgba(255, 255, 255, .2);

          & * {
            background-color: transparent;
          }
        }
      }

      .coursetitle {
        // display: inline-block;
        float: left;
        margin-left: 3rem;
        @include underscore;
      }

      .icon {
        display: inline-block;
        fill: $hanred;
        border-bottom: 2px solid $grey4;
        margin-bottom: -1.2rem;
        margin-left: 8px;
        padding-bottom: .8rem;
        height: 32px;
        width: 32px;
        /*
        position: absolute;
        top: 24px;
        padding-top: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 25px;
        height: 24px;
        width: auto;
        background-color: transparent;
        */
      }

      a {
        color: $white;
        text-decoration: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 25px;

        &.dropdown__submenu__button {
          border-bottom: 0;
        }

        &.active {
          display: inline-block;
          padding-top: 1rem;
          padding-bottom: 1rem;
          margin-bottom: 0;
          border-bottom: 4px solid $hanred;

          .icon {
            display: none;
          }
        }
      }

      .dropdown {

        a {
          border-bottom: 1px solid $grey1;
        }

        .dropdown__submenu {
          padding-top: 2rem;
          padding-bottom: 2rem;

          .dropdown__submenu__button {
            font-weight: 900;
          }

          li {

            a {
              font-weight: 500;
            }
          }
        }
      }
    }

    & > li {
      padding-top: 2rem;
      font-weight: 900;
      border-bottom: 1px solid rgba(255, 255, 255, .15);
      margin-right: -32px;
      padding-right: 32px;
      padding-bottom: 48px;

      &:first-child {
        width: 100%;
        background-color: $black;
      }
    }
  }
}

@media screen and (min-width: 678px) {
  #submenu {
    .dropdown__main {
      overflow: auto;
      overflow-x: scroll;
      white-space: nowrap;
      margin: 0;

      & > li {
        position: relative;
        vertical-align: top;
        width: 30%;
        margin-right: 0;
        border-bottom: 0;
      }

      li {
        background-color: $black;
      }

      #homeBar {
        .icon {
          fill: $white;

          &.bottom {
            fill: $hanred;
            transition: rotate(90deg);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .submenu {

    .dropdown__main {
      //list-style-type: none;
      //background-color: $white;
      //color: $black;

      li {
        background-color: $white;
        margin: 0;
        font-weight: 500;


        a {
          display: inline-block;
          color: $black;
          background-color: $grey1;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;

          &.active {
            border-bottom: 3px solid $hanred;
            background-color: $white;
            margin-top: -3px;
          }

          &:hover {
            background-color: $white;
            border-bottom: 3px solid $grey2;
            margin-top: -3px;
          }

          &.dropdown__submenu__button {
            display: block;

            &:hover ~ .dropdown {
              display: block;
            }
          }
        }
      }

      & > li {
        float: left;
      }

      .dropdown {
        display: none;

        &:hover {
          display: block;
        }

        li {

          &.dropdown__submenu {
            position: relative;

            .dropdown__submenu__button {
              background-color: $white;

              &:hover {
                background-color: $grey2;
                border-bottom: 0;
              }
            }

            .dropdown {
              position: absolute;
              min-width: 160px;
              z-index: 1;
              top: 0;
              left: 100%;
              margin-top: -1px;
            }
          }

          a {
            background-color: $white;

            &:hover {
              background-color: $grey2;
              border-bottom: 0;
            }
          }
        }
      }
    }
  }
}
