.textmedia {
  @include grid;
  // align-items: center;
  margin: 32px 0;

  @include breakpoint($bp-l) {
    align-items: center;
  }
}


/**
 * Media
 */

.textmedia__media {
  @include grid-item(12);
  position: relative;
  margin-bottom: 32px;

  @include breakpoint($bp-m) {
    @include grid-item(5);
    margin-bottom: 68px;
    padding-left: 8px;
    padding-right: 8px;
  }

  @include breakpoint($bp-l) {
    @include grid-item(6);
  }

  .textmedia__caption {
    position: absolute;
    right: 8px;
    bottom: 0;
    left: 8px;
    background: rgba(12,1,28, 0.3);
    color: $white;
    font-size: 13px;
    padding: 16px;

    @include breakpoint($bp-m) {
      right: 16px;
      left: 16px;
    }

    @include breakpoint($bp-l) {
      right: 20px;
      left: 20px;
      font-size: 14px;
      padding: 24px;
    }
  }
}

.textmedia__media__picture {
  display: block;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.textmedia__media__video {
  display: block;
  width: 100%;
  
  video {
    width: 100%;
    display: block;
  }

  .play-pause {
    position: absolute;
    right: 27px;
    bottom: 18px;
    z-index: 99;
    color: $white;
    width: 12px;
    height: 16px;

    @include breakpoint($bp-l) {
      right: 37px;
      bottom: 22px;
      // background: red;
    }

    @include breakpoint($bp-m) {
      right: 30px;
      bottom: 16px;
      // background: blue;
    }

    span {
      font-size: 0;
    }

    &.playing {
      border-right: 4px solid $white;
      border-left: 4px solid $white;
    }

    &.paused {
      border: 0;
      background: transparent;
      box-sizing: border-box;
      width: 0;

      border-color: transparent transparent transparent $white;
      transition: 100ms all ease;
      cursor: pointer;

      // play state
      border-style: solid;
      border-width: 9px 0 9px 13px;
      right: 25px;
      bottom: 17px;
    }

    &:focus {
      outline:0;
    }
  }
}


/**
 * Text
 */

.textmedia__text {
  @include grid-item(12);

  @include breakpoint($bp-m) {
    @include grid-item(7);
  }

  @include breakpoint($bp-l) {
    @include grid-item(6);
  }
}

.textmedia__text__eyebrow {
  @include eyebrow;
}

.textmedia__text__title {
  @include h2;
  margin: 21px 0 17px;
}

.textmedia__text__body {
  @include base;
  
  align-items: center;
}

.textmedia__text__buttons {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.textmedia__text__buttons__button {
  margin-right: 16px;
}
