.textmedia {
  @include grid;
  // align-items: center;
  margin: 32px 0;

  @include breakpoint($bp-l) {
    align-items: center;
  }
}


/**
 * Media
 */

.textmedia__media {
  @include grid-item-spaceless(12);
  position: relative;
  margin-bottom: 32px;
  overflow: hidden;
  border-radius: 4px;

  @include breakpoint($bp-m) {
    margin-left: 5%;
    margin-right: 5%;
    height: 350px;
  }

  @include breakpoint($bp-l) {
    @include grid-item-spaceless(6);
    height: inherit;
    margin: 0;
    // flex-basis: auto;
  }

  @include breakpoint($bp-xl) {
    @include grid-item(6);
  }

  .textmedia__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(12,1,28, 0.3);
    color: $white;
    font-size: 13px;
    padding: 19px;

    @include breakpoint($bp-l) {
      font-size: 14px;
      padding: 24px;
    }
  }
}

.textmedia__media__picture {
  display: block;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 4px;

    @include breakpoint($bp-l) {
      width: 90%;
    }
  }
}

.textmedia__media__video {
  display: block;
  width: 100%;
  position: relative;
  
  video {
    width: 100%;
    display: block;
    border-radius: 4px;
    
    @include breakpoint($bp-l) {
      width: 90%;
    }
  }

  .play-pause {
      position: absolute;
      right: 10px;
      bottom: 10px;
      z-index: 99;
      color: $white;
      font-size: 0;

      width: 33px;
      height: 32px;
      background: rgba(0,0,0,0.65);
      border-radius: 4px;

    & span {
      position: absolute;
      top: 8px;
      left: 10px;

      width: 12px;
      height: 16px;
    }

    &.playing span {
      border-right: 4px solid $white;
      border-left: 4px solid $white;
    }

    &.paused span {
      border: 0;
      background: transparent;
      box-sizing: border-box;

      border-color: transparent transparent transparent $white;
      transition: 100ms all ease;
      cursor: pointer;

      // play state
      border-style: solid;
      border-width: 8px 0 8px 12px;
    }

    @include breakpoint($bp-m) {
      top: 310px;
    }

    @include breakpoint($bp-l) {
      top: inherit;
      bottom: 15px;
      right: 15px;
    }

    &:focus {
      outline:0;
    }
  }
}


/**
 * Text
 */

.textmedia__text {
  @include grid-item-spaceless(12);

  @include breakpoint($bp-m) {
    @include grid-item-spaceless(10);
    flex-grow: unset;
  }

  @include breakpoint($bp-l) {
    @include grid-item(6);
    flex-grow: 1;
  }

  @include breakpoint($bp-xl) {
    @include grid-item(6);
  }
}

.textmedia__text__eyebrow {
  @include eyebrow;
}

.textmedia__text__title {
  @include h2;
  margin: 21px 0 17px;
}

.textmedia__text__body {
  @include base;
  
  align-items: center;
}

.textmedia__text__buttons {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.textmedia__text__buttons__button {
  margin-right: 16px;
}

.section--textmedia-left {
  @include breakpoint($bp-l) {
    .textmedia__media__picture img,
    .textmedia__media__video video {
      margin-right: auto;
    }

    .textmedia__media .textmedia__caption {
      left: 0;
      right: inherit;
    }

    .textmedia__media__video .play-pause {
      right: 70px;
    }
  }
  
}

.section--textmedia-right {
  @include breakpoint($bp-l) {
    .textmedia__media__picture img,
    .textmedia__media__video video {
      margin-left: auto;
    }

    .textmedia__media .textmedia__caption {
      left: 49px;
      right: 0;
    }
  }

  @include breakpoint($bp-xl) {
    .textmedia__media__picture img,
    .textmedia__media__video video {
      margin-left: auto;
    }

    .textmedia__media .textmedia__caption {
      left: 76px;
      right: 20px;
      // background:red;
    }
  }
}