.textmedia {
  @include breakpoint($bp-s) {
    @include grid;
    display: flex;
  }
}


/**
 * Media
 */

.textmedia__media {
  @include breakpoint($bp-s) {
    @include grid-item(6);
  }
}

.textmedia__media__picture {
  display: block;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.textmedia__media__video {
    position: relative;
    width: 560px;
    height: 560px;
    overflow: hidden;
  
  video {
    position: relative; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    }
  }


/**
 * Text
 */

.textmedia__text {
  @include breakpoint($bp-s) {
    @include grid-item(6);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.textmedia__text__eyebrow {
  font-size: 18px;
  color: #919191;
  text-transform: uppercase;
}

.textmedia__text__title {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
}

.textmedia__text__body {
  font-size: 16px;
  line-height: 27px;
}

.textmedia__text__buttons {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.textmedia__text__buttons__button {
  margin-right: 16px;
}
