.textmedia {
  @include breakpoint($bp-s) {
    @include grid;
  }
}


/**
 * Media
 */

.textmedia__media {
  @include breakpoint($bp-s) {
    @include grid-item(6);
  }
}

.textmedia__media__picture {
  display: block;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.textmedia__media__video {
    position: relative;
    width: 560px;
    height: 560px;
    overflow: hidden;
  
  video {
    position: relative; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    
    }
  }


/**
 * Text
 */

.textmedia__text {
  @include breakpoint($bp-s) {
    @include grid-item(6);
  }
}

.textmedia__text__eyebrow {
  @include eyebrow;
}

.textmedia__text__title {
  @include h2;
  margin: 21px 0 17px;
}

.textmedia__text__body {
  @include base;

  ul {
    margin-top: 13px;

    li {
      margin-bottom: 11px;

      &::before {
        content: "• ";
        color: #e50056;
        margin-right: 7px;
      }
    }
  }
}

.textmedia__text__buttons {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.textmedia__text__buttons__button {
  margin-right: 16px;
}
